<!--Footer navigation section-->
<table class="table table-hover"></table>
<div data-role="footer" data-position="fixed">
  <h1>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</h1>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <h6 class="display-6 navbar-text"> &copy; Copyright 2020 All rights reserved</h6>
  </div>
</nav>